*DS_Store
bin/FreeImage.dll
bin/Zlib.dll
bin/assimp.dll
bin/fmodex.dll
bin/fmodexL.dll
bin/freetype.dll
bin/glut32.dll
bin/libeay32.dll
bin/ssleay32.dll
bin/win_travel_debug.exp
bin/win_travel_debug.ilk
bin/win_travel_debug.lib
bin/win_travel_debug.pdb
icon.rc
obj/
win_travel.VC.VC.opendb
win_travel.VC.db
bin/sumatrapdfcache/*
Ballerup_travel.VC.VC.opendb
bin/Ballerup_travel_debug.ilk
bin/Ballerup_travel_debug.pdb
Ballerup_travel.VC.db